version: 2
jobs:
  build:
    docker:
      - image: circleci/build-image:ubuntu-14.04-XXL-upstart-1189-5614f37
    working_directory: ~/cwidahocc/d8cwi
    environment:
      TZ: "/usr/share/zoneinfo/America/Los_Angeles"
      TERM: dumb
      CIRCLE_TEST_REPORTS: /tmp/circleci-test-results
      CIRCLE_ARTIFACTS: /tmp/circleci-artifacts

    shell: /bin/bash --login
    steps:
      - checkout
      - run: echo "hello world"
      - run: mkdir -p $CIRCLE_ARTIFACTS $CIRCLE_TEST_REPORTS
      - run:
          name: Setup interpolating environment variables
          command: 
            echo 'export CIRCLE_ENV="ci-$CIRCLE_BUILD_NUM"' >> $BASH_ENV;
            echo 'export PR_ENV="${CIRCLE_BRANCH:+pr-$CIRCLE_BRANCH}"' >> $BASH_ENV;
            echo 'export DEFAULT_ENV="$(echo ${PR_ENV:-$CIRCLE_ENV} | tr '[:upper:]' '[:lower:]' | sed 's/[^0-9a-z-]//g' | cut -c -11 | sed 's/-$//')"' >> $BASH_ENV;
            echo 'export TERMINUS_ENV="${TERMINUS_ENV:-$DEFAULT_ENV}"' >> $BASH_ENV;
      - run: 
          name: TimeZone and Sudo
          command: echo ''America/Boise'' | sudo tee -a /etc/timezone; sudo dpkg-reconfigure -f noninteractive tzdata; sudo service mysql restart; sudo service postgresql restart; 
      - run: 
          name: PHP Set
          command: |-
            ln -fs << $HOME/.phpenv/versions/7.0.11/libexec/apache2/libphp5.so /usr/lib/apache2/modules/libphp5.so; 
            phpenv global 7.0.11 2>/dev/null;
      - run: echo "Begin build for $CIRCLE_ENV${PR_ENV:+ for }$PR_ENV. Pantheon test environment is $TERMINUS_SITE.$TERMINUS_ENV"
      - run: echo "Token - $GITHUB_TOKEN / EMail $GIT_EMAIL"
      - run: |
        if [ -n "$GITHUB_TOKEN" ]
          then
          composer -n config --global github-oauth.github.com $GITHUB_TOKEN
        fi
      - run: git config --global user.email "$GIT_EMAIL"
      - run: git config --global user.name "Circle CI"
      - run: git config --global core.fileMode false