test-defaults: &test-defaults
  docker:
    - image: quay.io/pantheon-public/build-tools-ci:2.x
  working_directory: ~/work/d7
  environment:
    TZ: "/usr/share/zoneinfo/America/Los_Angeles"
    TERM: dumb

version: 2
jobs:
  build:
    <<: *test-defaults
    steps:
      - checkout
      - run: echo "hello world"