test-defaults: &test-defaults
  docker:
    - image: circleci/build-image:ubuntu-14.04-XXL-upstart-1189-5614f37
  working_directory: ~/cwidahocc/d8cwi
  environment:
    TZ: "/usr/share/zoneinfo/America/Los_Angeles"
    TERM: dumb
    CIRCLE_TEST_REPORTS: /tmp/circleci-test-results
    CIRCLE_ARTIFACTS: /tmp/circleci-artifacts

version: 2
jobs:
  build:
    <<: *test-defaults
    shell: /bin/bash --login
    steps:
      - checkout
      - run: echo "hello world"
      - run: mkdir -p $CIRCLE_ARTIFACTS $CIRCLE_TEST_REPORTS
      - run: 
          name: TimeZone and Sudo
          command: echo ''America/Boise'' | sudo tee -a /etc/timezone; sudo dpkg-reconfigure -f noninteractive tzdata; sudo service mysql restart; sudo service postgresql restart; 
      - run: 
          name: PHP Set
          command: |- 
             ln -fs << $HOME/.phpenv/versions/7.0.11/libexec/apache2/libphp5.so/usr/lib/apache2/modules/libphp5.so; phpenv global 7.0.11 2>/dev/null